{% extends "base.html" %}

{% block title %}
Manage Transaction Auto Updates
{% endblock %}

{% block content %}
<h1>Manage Transaction Auto Updates</h1>

<!-- Filter Form -->
<form action="{{ url_for('main.index') }}" method="get" class="form-inline mb3">
    <div class="form-group mr-2">
        <label for="bank_account" class="mr-2">Bank Account:</label>
        <select name="bank_account" id="bank_account" class="form-control">
            <option value="">All</option>
            {% for account in accounts %}
            <option value="{{ account.guid }}" {% if request.args.get('bank_account')==account.guid %}selected{% endif %}>
                {{ account.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group mr-2">
        <label for="other_account" class="mr-2">Other Account:</label>
        <select name="other_account" id="other_account" class="form-control">
            <option value="">All</option>
            {% for account in accounts %}
            <option value="{{ account.guid }}" {% if request.args.get('other_account')==account.guid %} select {% endif %}>
                {{ account.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<!-- Transactions Table -->
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Notes</th>
            <th scope="col">Bank Account</th>
            <th scope="col">Other Account</th>
            <th scope="col">Search Term</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for update in transaction_auto_updates %}
        <tr>
            <th scope="row">{{ update.description }}</th>
            <td>{{ update.notes }}</td>
            <td>{{ update.bank_account_rel.name }}</td>
            <td>{{ update.other_account_rel.name }}</td>
            <td>{{ update.search_term }}</td>
            <td>
                <!-- Edit Button -->
                <a href="{{ url_for('main.edit_transaction_auto_update', id=update.id) }}" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <!-- Delete Button -->
                <form action="{{ url_for('main.delete_transaction_auto_update', id=update.id) }}" method="POST"
                    style="display:inline;">
                    <button class="btn btn-danger" type="submit"
                        onclick="return confirm('Are you sure you want to delete this transaction auto update?');"><i
                            class="bi bi-trash-fill"></i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Update Transactions -->
<h2>Update Transactions</h2>
<form action="{{ url_for('main.update_transactions') }}" method="POST">
    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" required>
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" required>
    <button type="submit">Run Update</button>
</form>
<!-- Display flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class="flashes">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}